/*ШРИФТЫ*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff');
}

/*ОБЩИЕ СТИЛИ И КЛАССЫ*/
:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;

  color: #000000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

body ul,
body ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*HEADER*/
.main-header {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  background-color: #eeeeee;
  margin-bottom: 0;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.main-navigation a {
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  display: inline-flex;
  align-items: center;

  color: #000000;

  text-transform: uppercase;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

/*ЛОГОТИП*/
.main-header-logo svg:active {
  opacity: 0.5;
}

/*КНОПКИ НАВИГАЦИИ*/
.site-navigation,
.user-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.site-navigation li,
.user-navigation li {
  display: flex;
}

.site-navigation li {
  padding-left: 23px;
  padding-right: 23px;
}

.user-navigation a {
  padding-left: 40px;
}

a.nav-link-current {
  border-bottom: 3px solid red;
}

a.site-nav-link:hover {
  color: red;
}

a.site-nav-link:active {
  color: black;
  opacity: 0.5;
}


a.user-nav-link:hover {
  color: red;
}

a.user-nav-link:active {
  color: black;
  opacity: 0.5;
}

.user-navigation svg {
  position: absolute;
  left: 0px;
}


/*MAIN*/
.catalog-main {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.catalog {
  padding-top: 58px;
  padding-right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-title {
  text-align: center;
  padding-top: 82px;
  padding-bottom: 115px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  font-size: 55px;
  line-height: 55px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
}

/*ФИЛЬТР СТРАНИЦЫ CATALOG*/
/*СОРТИРОВКА*/
.sort-filter {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sort-title {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.sort-links {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

a.sort-btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #dbdbdb;
}

a.sort-btn-active {
  color: black;
}

/*ОСНОВНОЙ ФИЛЬТР*/
/*ОСНОВНЫЕ КЛАССЫ И КНОПКА ОТПРАВКИ*/
.catalog-filter {
  margin-right: 120px;
  max-width: 260px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

.filter-title {
  font-size: 18px;
  line-height: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-submit-btn {
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 3px;

  width: 100%;

  border: none;
  background-color: #eeeeee;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

/*ФИЛЬТР СЛАЙДЕР*/
.range-filter {
  width: 260px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;

  height: 20px;
  width: 20px;

  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle::before {
  position: absolute;
  top: 8px;
  left: 8px;
  content: "";

  height: 4px;
  width: 4px;
  border-radius: 50%;

  background: #ababab;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 164px;
}

.price-controls {
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  display: inline-flex;
  align-items: center;

  font-size: 16px;
}

.price-controls input {
  width: 80px;
  margin-left: 12px;
  padding: 8px 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

/*ФИЛЬТР РАЗДЕЛЫ СЕТКА И СТОИМОСТЬ */
/*ОБЩИЕ КЛАССЫ*/
.filter-list {
  margin-top: 19px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.filter-list label {
  position: relative;

  margin-bottom: 15px;
  padding-left: 35px;

  display: inline-flex;
  align-items: center;

  cursor: pointer;
}

.filter-list label:last-child {
  margin-bottom: 0;
}

/*ФИЛЬТР СПИСОК "СЕТКА"*/
.radio-filter-btn:not(:checked) + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.radio-filter-btn:checked + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*ФИЛЬТР СПИСОК "ОСОБЕННОСТИ"*/
.checkbox-filter-btn:not(:checked) + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 28px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-filter-btn:checked + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 28px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*БЛОК С КАРТИНКАМИ МАКЕТОВ*/
.catalog-products {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-item {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.catalog-item-popup {
  min-height: 231px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 35px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #eeeeee;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-style: 'Roboto', 'Arial', sans-serif;
  color: black;
}

.catalog-item-description {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: 'Roboto', 'Arial', sans-serif;
  color: #666666;
}

.catalog-btn-buy {
  color: white;
  background-color: #fb565a;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.intro-section {
  background-color: #eeeeee;
}

.pagination {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.pagination-btn a {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: #eeeeee;
  color: black;
}

.pagination-btn-current a {
  box-shadow: 0px 0px 0px 3px #dbdbdb inset;
  background-color: white;
}

.pagination-btn-next a {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
}

/*FOOTER*/
.main-footer {
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
  flex-direction: column;
}

.map-contacts {
  position: absolute;
  visibility: hidden;
}

.contacts {
  margin-top: 68px;
  display: flex;
}
.contacts-links {
  min-width: 174px;
  margin: 0;
  margin-right: 96px;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.contacts-links li {
  display: inline-flex;
  align-items: center;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

a.social-link:hover {
  background-color: #e74246;
}

a.social-link:active {
  background-color: #d7373b;
}


.conctacts-motto {
  display: flex;
  flex-direction: column;
}

.contacts-motto p {
  margin: 0;
}

.contacts-motto-main {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.contacts-discount {
  font-size: 16px;
  line-height: 22px;
}
