/*ШРИФТЫ*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
}

/*ОБЩИЕ СТИЛИ И КЛАССЫ*/
:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;

  color: #000000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

body ul,
body ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.basic-btn {
  padding: 19px 0;

  border: none;
  border-radius: 5px;

  text-align: center;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  font-family: 'Roboto', 'Arial', sans-serif;
}

/*HEADER*/
.main-header {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  background-color: #eeeeee;
  margin-bottom: 0;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.main-navigation a {
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  display: inline-flex;
  align-items: center;

  color: #000000;

  text-transform: uppercase;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

/*ЛОГОТИП*/
.main-header-logo svg:active path{
  fill: #a6a6a6;
}

/*КНОПКИ НАВИГАЦИИ*/
.site-navigation,
.user-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.site-navigation li,
.user-navigation li {
  display: flex;
}

.site-navigation li {
  padding-left: 23px;
  padding-right: 23px;
}

.user-navigation a {
  padding-left: 40px;
}

a.nav-link-current {
  border-bottom: 3px solid #fb565a;
}

a.site-nav-link:hover,
a.user-nav-link:hover {
  color: #fb565a;
}

a.site-nav-link:active,
a.user-nav-link:active {
  color: rgba(0,0,0,0.3);
}

.user-navigation svg {
  position: absolute;
  left: 0px;

  fill: #a6a6a6;
}


/*MAIN*/
.index-main,
.catalog-main {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
}

/*INDEX PAGE*/
.slider {
  position: relative;

  padding-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;

  bottom: 95px;
  left: 50%;

  width: 88px;

  display: flex;
  justify-content: space-between;
}

.slider-controls i {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background: #ffffff;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  z-index: 1;

  width: 8px;
  height: 8px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.slider-item:nth-child(1) {
  /*background-image: url("../img/slide1.jpg");*/
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  /*background-image: url("../img/slide2.jpg");*/
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  /*background-image: url("../img/slide3.jpg");*/
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-btn {
  background-color: #fb565a;
  color: #ffffff;
}

.slider-item-btn:hover,
.slider-item-btn:focus {
  background-color: #e74246;
}

.slider-item-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.products {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 80px;

  border-bottom: 2px #eeeeee solid;
}

.products-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-item {
  max-width: 300px;

  display: flex;
  flex-direction: column;
}

.products-item img {
  margin-bottom: 30px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.product-description {
  margin-top: 0;
  margin-bottom: 35px;
  padding-right: 40px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a.product-btn {
  max-width: 160px;
  color: #ffffff;
}

a.product-btn-website {
  background: #fb565a;
}

a.product-btn-website:hover {
  background: #e74246;
}

a.product-btn-website:active {
  box-shadow: 0 3px 0 0 #c13135 inset;

  background: #d7373b;
  color: rgba(255,255,255,0.3);
}

a.product-btn-app {
  background: #00ca74;
}

a.product-btn-app:hover {
  background: #00bc6c;
}

a.product-btn-app:active {
  box-shadow: 0 3px 0 0 #009958 inset;

  background: #00aa62;
  color: rgba(255,255,255,0.3);
}

a.product-btn-pres {
  background: #efc84a;
}

a.product-btn-pres:hover {
  background: #eab534;
}

a.product-btn-pres:active {
  box-shadow: 0 3px 0 0 #ce961f inset;

  background: #e5a722;
  color: rgba(255,255,255,0.3);
}

.about {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;

  border-bottom: 2px #eeeeee solid;
}

.about-description {
  margin-bottom: 37px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-description img {
  margin-left: 140px;
}

.about-header-title {
  margin-top: 38px;
  margin-bottom: 38px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-header-content {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.about-facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-facts-listcontainer {
  flex-direction: column;
}

.about-facts-listheader {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  text-transform: uppercase;
}

.about-facts-list {
  margin: 0;
  padding: 0;
}

.about-facts-list li {
  position: relative;

  padding-left: 37px;
  margin-bottom: 32px;

  display: flex;
  align-items: center;
}

.about-facts-list li:last-child {
  margin-bottom: 0;
}

.about-facts-list li::before {
  content: "";

  position: absolute;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-facts-statsheader {
  margin-top: 0;
  margin-bottom: 46px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
}

.about-facts-container {
  display: flex;
  flex-direction: row;
}

.about-facts-stats {
  margin-right: 25px;

  display: flex;
  flex-direction: column;
}

.about-facts-stats:last-child {
  margin-right: 0;
}


.about-facts-number {
  position: relative;

  margin-bottom: 25px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.about-facts-number sup {
  top: -10px;
}

.about-facts-small {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.clients {
  margin-left: 20px;
  margin-right: 20px;

  display: flex;

  height: 180px;
  border-bottom: 2px #eeeeee solid;
}

.client-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  flex-grow: 1;
}

.client-list img {
  opacity: 0.2;
}

.client-list img:hover {
  opacity: 1;
}

.client-list img:active {
  opacity: 0.1;
}

/*CATALOG PAGE*/
.catalog {
  padding-top: 58px;
  padding-right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-title {
  background-color: #eeeeee;
}

.page-title-catalog {
  text-align: center;
  padding-top: 82px;
  padding-bottom: 115px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  font-size: 55px;
  line-height: 55px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
}

/*ФИЛЬТР СТРАНИЦЫ CATALOG
/*СОРТИРОВКА*/
.sort-filter {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sort-title {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.sort-links {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.sort-btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  color: rgba(0,0,0,0.3);
}

.sort-btn:hover {
  color: rgba(0,0,0,0.6);
}

.sort-btn:active {
  color: rgba(0,0,0,1);
}

.sort-btn-current {
  color: rgba(0,0,0,1);
  pointer-events: none;
}

.sort-arrow svg {
  opacity: 0.2;
}

.sort-arrow:not(.sort-arrow-current) svg:hover {
  opacity: 0.6;
}

.sort-arrow svg:active,
.sort-arrow-current svg {
  opacity: 1;
}

/*ОСНОВНОЙ ФИЛЬТР CATALOG*/
/*ОСНОВНЫЕ КЛАССЫ И КНОПКА ОТПРАВКИ*/
.catalog-filter {
  margin-right: 120px;
  max-width: 260px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

.filter-title {
  font-size: 18px;
  line-height: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-submit-btn {
  width: 100%;

  background-color: #eeeeee;
  color: black;
  cursor: pointer;
}

.filter-submit-btn:hover {
  background-color: #dfdfdf;
}

.filter-submit-btn:active {
  box-shadow: 0 3px 0 0 #bfbfbf inset;

  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
}

.filter-submit-btn:focus {
  outline: 0;
}

/*ФИЛЬТР СЛАЙДЕР CATALOG*/
.range-filter {
  width: 260px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;

  height: 20px;
  width: 20px;

  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle::before {
  position: absolute;
  top: 8px;
  left: 8px;
  content: "";

  height: 4px;
  width: 4px;
  border-radius: 50%;

  background: #ababab;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 164px;
}

.price-controls {
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  display: inline-flex;
  align-items: center;

  font-size: 16px;
}

.price-controls input {
  width: 80px;
  margin-left: 12px;
  padding: 8px 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

/*ФИЛЬТР РАЗДЕЛЫ СЕТКА И СТОИМОСТЬ CATALOG*/
/*ОБЩИЕ КЛАССЫ*/
.filter-list {
  margin-top: 19px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.filter-list label {
  position: relative;

  margin-bottom: 15px;
  padding-left: 35px;

  display: inline-flex;
  align-items: center;

  cursor: pointer;
}

.filter-list label:last-child {
  margin-bottom: 0;
}

.radio-filter,
.checkbox-filter {
  user-select: none;
}

.checkbox-filter-btn:disabled + label,
.radio-filter-btn:disabled + label {
  opacity: 0.3;
  user-select: none;
}

.checkbox-filter-btn:not([disabled]) + label:hover,
.radio-filter-btn:not([disabled]) + label:hover {
  font-weight: 500;
}

.checkbox-filter-btn:not([disabled]) + label:hover::before,
.radio-filter-btn:not([disabled]) + label:hover::before {
  opacity: 1;
}

/*ФИЛЬТР СПИСОК "СЕТКА" CATALOG*/
.radio-filter-btn:not(:checked) + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;

  opacity: 0.4;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.radio-filter-btn:checked + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;

  opacity: 0.4;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*ФИЛЬТР СПИСОК "ОСОБЕННОСТИ" CATALOG*/
.checkbox-filter-btn:not(:checked) + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 28px;
  height: 23px;

  opacity: 0.4;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-filter-btn:checked + label::before  {
  content:"";

  position: absolute;
  left: 0;

  width: 28px;
  height: 23px;

  opacity: 0.4;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*БЛОК С КАРТИНКАМИ МАКЕТОВ CATALOG*/
.catalog-products {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*МАКЕТ САЙТА ИЗ СПИСКА*/
.catalog-item {
  position: relative;

  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  flex-direction: column-reverse;
}

.catalog-item-popup {
  position: absolute;
  left: 0;
  right: 0;

  visibility: hidden;

  padding-left: 80px;
  padding-right: 80px;
  padding-top: 35px;
  padding-bottom: 43px;

  min-height: 231px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #eeeeee;
}

.catalog-item:hover > .catalog-item-popup {
  position: absolute;
  left: 0;
  right: 0;

  visibility: visible;

  padding-left: 80px;
  padding-right: 80px;
  padding-top: 35px;
  padding-bottom: 43px;

  min-height: 231px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #eeeeee;
}

.catalog-item:hover > svg path{
  fill: #4d4d4d;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-style: 'Roboto', 'Arial', sans-serif;
  color: black;
}

.catalog-item-description {
  text-align: center;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: 'Roboto', 'Arial', sans-serif;
  color: #666666;
}

.catalog-btn-buy {
  width: 100%;

  background-color: #fb565a;
  color: white;
}

.catalog-btn-buy:hover {
  background-color: #e74246;
}

.catalog-btn-buy:active {
  background-color: #d7373b;
  box-shadow: 0 3px 0 0 #c13135 inset;
}

.pagination {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.pagination-btn {
  margin-right: 10px;

  width: 50px;
  height: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  background-color: #eeeeee;
  color: black;
}

.pagination-btn:not(.pagination-btn-current):hover {
  background-color: #dfdfdf;
}

.pagination-btn:not(.pagination-btn-current):active {
  box-shadow: 0 3px 0 0 #bfbfbf inset;

  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
}

.pagination-btn-current {
  box-shadow: 0px 0px 0px 3px #dbdbdb inset;
  background-color: white;

  pointer-events: none;
}

.pagination-btn-next {
  width: 260px;
  height: 50px;

  text-transform: uppercase;
}

/*FOOTER*/
.main-footer {
  margin-top: 60px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
}

/*РАЗДЕЛ С КАРТОЙ*/
.map {
  position: relative;

  margin-bottom: 68px;
}

.contacts {
  position: absolute;
  top: 23px;
  left: 23px;

  padding: 40px;

  width: 319px;

  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #ffffff;
}

.contacts-name {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-address {
  margin-top: 0;
  margin-bottom: 23px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.contacts-tel {
  margin-top: 0;
  margin-bottom: 40px;

  display: flex;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: black;
}

.contacts-btn {
  width: 100%;

  background-color: #fb565a;
  color: white;
}

.contacts-btn:hover {
  background-color: #e74246;
}

.contacts-btn:active {
  box-shadow: 0 3px 0 0 #c13135 inset;

  background-color: #d7373b;
}

.contacts-btn:focus {
  outline: 0;
}

/*СОЦ. СЕТИ КНОПКИ И СКИДКА*/
.social-container {
  display: flex;
  flex-wrap: wrap;
}

.social-links {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 96px;
  padding: 0;

  display: flex;
  flex-direction: row;

  list-style: none;
}

.social-link {
  width: 80px;
  height: 80px;
  margin-right: 12px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-links li:last-child .social-link {
  margin-right: 0;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link:active > svg path {
  fill: #e37376;
}

.discount {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.discount-title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount-text {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
}

/*МОДАЛЬНОЕ ОКНО "ОБРАТНАЯ СВЯЗЬ"*/
.modal {
  position: fixed;

  padding-top: 78px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;

  min-width: 960px;
  min-height: 590px;

  display: flex;
  flex-direction: column;
  font-style: 'Roboto', 'Arial', sans-serif;

  background-color: white;
}

.modal-writeus {
  top: 120px;
  left: 10%;
}

.modal label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  color: black;
}

.modal input,
.modal textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.modal input {
  width: 360px;
  height: 50px;
}

.modal textarea {
  margin-bottom: 47px;

  flex-grow: 1;

  width: 100%;
  height: 118px;
}

.modal-header {
  margin-top: 0;
  margin-bottom: 46px;

  width: 100%;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-wrapper {
  display: flex;
  flex-direction: row;
}

.modal-container {
  margin-bottom: 35px;

  display: flex;
  flex-direction: column;
}

.modal-close-btn {
  position: absolute;


}

.modal-submit-btn {
  width: 260px;
  height: 50px;

  color: #ffffff;
  background: #fb565a;
}


